@mixin color_setup($name, $colorBase, $darkText: false, $flatLightenLevel: 5) {
	.#{$name} {
		&:not(.color-f) {
			background-color: var(#{$colorBase}-base);
			@if $darkText {
				color: var(--color--text-dark);
			}
			@else {
				color: var(--color--text-light);
			}
		}
		&.color-f {
			color: var(#{$colorBase}-base);
		}
		&.color-border {
			border-color: var(#{$colorBase}-base);
		}
		&.outline {
			background-color: transparent;
			border: 2px solid var(#{$colorBase}-base);
			@if $darkText {
				color: var(#{$colorBase}-darken9);
			}
			@else {
				color: var(#{$colorBase}-base);
			}
		}
		&.flat {
			@if $darkText {
				color: var(#{$colorBase}-darken9);
			}
			@else {
				color: var(#{$colorBase}-base);
			}
		}
		&.hoverable {
			transition: 0.2s;
			&:hover {
				&.outline {
					border-color: var(#{$colorBase}-lighten3);
				}
				&:not(.outline):not(.flat) {
					background-color: var(#{$colorBase}-lighten1);
				}
				&.flat {
					background-color: var(#{$colorBase}-lighten#{$flatLightenLevel});
				}
			}
		}
	}
	.#{$name}-text {
		color: var(#{$colorBase}-base) !important;
		&.disabled {
			color: var(#{$colorBase}-lighten2) !important;
		}
	}
	@if not ($darkText) {
		.#{$name}:not(.flat):not(.outline) {
			.icon-component {
				.material-icons {
					color: #eee;
				}
			}
		}
	}
}

@include color_setup('accent', '--color--accent', true, $flatLightenLevel: 2);
@include color_setup('primary', '--color--primary', $flatLightenLevel: 6);
@include color_setup('secondary', '--color--secondary', $flatLightenLevel: 6);
@include color_setup('fatal', '--color--fatal', $flatLightenLevel: 4);
@include color_setup('error', '--color--error', $flatLightenLevel: 4);
@include color_setup('success', '--color--success', $flatLightenLevel: 5);
@include color_setup('warning', '--color--warning', $flatLightenLevel: 5);
@include color_setup('info', '--color--info', $flatLightenLevel: 4);

.accent.hoverable:hover.outline {
	border-color: var(--color--accent-lighten2);
	background-color: var(--color--accent-lighten1);;
}
