$color_primary: #18618c;
$color_secondary: #263238;
$color_info: #82a4d8;
$color_info_lighten1: lighten($color_info, 30%);
$color_success: #9fc793;
$color_warning: #e4883d;
$color_error: #d62839;
$color_accent: #e0e0e0;

$color_accent_darken1: darken($color_accent, 5%);
$color_accent_darken10: darken($color_accent, 50%);
$color_accent_darken2: darken($color_accent, 10%);
$color_accent_darken3: darken($color_accent, 15%);
$color_accent_darken4: darken($color_accent, 20%);
$color_accent_darken5: darken($color_accent, 25%);
$color_accent_darken6: darken($color_accent, 30%);
$color_accent_darken7: darken($color_accent, 35%);
$color_accent_darken8: darken($color_accent, 40%);
$color_accent_darken9: darken($color_accent, 45%);
$color_accent_lighten1: lighten($color_accent, 5%);
$color_accent_lighten10: lighten($color_accent, 50%);
$color_accent_lighten2: lighten($color_accent, 10%);
$color_accent_lighten3: lighten($color_accent, 15%);
$color_accent_lighten4: lighten($color_accent, 20%);
$color_accent_lighten5: lighten($color_accent, 25%);
$color_accent_lighten6: lighten($color_accent, 30%);
$color_accent_lighten7: lighten($color_accent, 35%);
$color_accent_lighten8: lighten($color_accent, 40%);
$color_accent_lighten9: lighten($color_accent, 45%);
$color_error_darken1: darken($color_error, 5%);
$color_error_darken10: darken($color_error, 50%);
$color_error_darken2: darken($color_error, 10%);
$color_error_darken3: darken($color_error, 15%);
$color_error_darken4: darken($color_error, 20%);
$color_error_darken5: darken($color_error, 25%);
$color_error_darken6: darken($color_error, 30%);
$color_error_darken7: darken($color_error, 35%);
$color_error_darken8: darken($color_error, 40%);
$color_error_darken9: darken($color_error, 45%);
$color_error_lighten1: lighten($color_error, 5%);
$color_error_lighten10: lighten($color_error, 50%);
$color_error_lighten2: lighten($color_error, 10%);
$color_error_lighten3: lighten($color_error, 15%);
$color_error_lighten4: lighten($color_error, 20%);
$color_error_lighten5: lighten($color_error, 25%);
$color_error_lighten6: lighten($color_error, 30%);
$color_error_lighten7: lighten($color_error, 35%);
$color_error_lighten8: lighten($color_error, 40%);
$color_error_lighten9: lighten($color_error, 45%);
$color_info_darken1: darken($color_info, 5%);
$color_info_darken10: darken($color_info, 50%);
$color_info_darken2: darken($color_info, 10%);
$color_info_darken3: darken($color_info, 15%);
$color_info_darken4: darken($color_info, 20%);
$color_info_darken5: darken($color_info, 25%);
$color_info_darken6: darken($color_info, 30%);
$color_info_darken7: darken($color_info, 35%);
$color_info_darken8: darken($color_info, 40%);
$color_info_darken9: darken($color_info, 45%);
$color_info_lighten1: lighten($color_info, 5%);
$color_info_lighten10: lighten($color_info, 50%);
$color_info_lighten2: lighten($color_info, 10%);
$color_info_lighten3: lighten($color_info, 15%);
$color_info_lighten4: lighten($color_info, 20%);
$color_info_lighten5: lighten($color_info, 25%);
$color_info_lighten6: lighten($color_info, 30%);
$color_info_lighten7: lighten($color_info, 35%);
$color_info_lighten8: lighten($color_info, 40%);
$color_info_lighten9: lighten($color_info, 45%);
$color_primary_darken1: darken($color_primary, 5%);
$color_primary_darken10: darken($color_primary, 50%);
$color_primary_darken2: darken($color_primary, 10%);
$color_primary_darken3: darken($color_primary, 15%);
$color_primary_darken4: darken($color_primary, 20%);
$color_primary_darken5: darken($color_primary, 25%);
$color_primary_darken6: darken($color_primary, 30%);
$color_primary_darken7: darken($color_primary, 35%);
$color_primary_darken8: darken($color_primary, 40%);
$color_primary_darken9: darken($color_primary, 45%);
$color_primary_lighten1: lighten($color_primary, 5%);
$color_primary_lighten10: lighten($color_primary, 50%);
$color_primary_lighten2: lighten($color_primary, 10%);
$color_primary_lighten3: lighten($color_primary, 15%);
$color_primary_lighten4: lighten($color_primary, 20%);
$color_primary_lighten5: lighten($color_primary, 25%);
$color_primary_lighten6: lighten($color_primary, 30%);
$color_primary_lighten7: lighten($color_primary, 35%);
$color_primary_lighten8: lighten($color_primary, 40%);
$color_primary_lighten9: lighten($color_primary, 45%);
$color_secondary_darken1: darken($color_secondary, 5%);
$color_secondary_darken10: darken($color_secondary, 50%);
$color_secondary_darken2: darken($color_secondary, 10%);
$color_secondary_darken3: darken($color_secondary, 15%);
$color_secondary_darken4: darken($color_secondary, 20%);
$color_secondary_darken5: darken($color_secondary, 25%);
$color_secondary_darken6: darken($color_secondary, 30%);
$color_secondary_darken7: darken($color_secondary, 35%);
$color_secondary_darken8: darken($color_secondary, 40%);
$color_secondary_darken9: darken($color_secondary, 45%);
$color_secondary_lighten1: lighten($color_secondary, 5%);
$color_secondary_lighten10: lighten($color_secondary, 50%);
$color_secondary_lighten2: lighten($color_secondary, 10%);
$color_secondary_lighten3: lighten($color_secondary, 15%);
$color_secondary_lighten4: lighten($color_secondary, 20%);
$color_secondary_lighten5: lighten($color_secondary, 25%);
$color_secondary_lighten6: lighten($color_secondary, 30%);
$color_secondary_lighten7: lighten($color_secondary, 35%);
$color_secondary_lighten8: lighten($color_secondary, 40%);
$color_secondary_lighten9: lighten($color_secondary, 45%);
$color_success_darken1: darken($color_success, 5%);
$color_success_darken10: darken($color_success, 50%);
$color_success_darken2: darken($color_success, 10%);
$color_success_darken3: darken($color_success, 15%);
$color_success_darken4: darken($color_success, 20%);
$color_success_darken5: darken($color_success, 25%);
$color_success_darken6: darken($color_success, 30%);
$color_success_darken7: darken($color_success, 35%);
$color_success_darken8: darken($color_success, 40%);
$color_success_darken9: darken($color_success, 45%);
$color_success_lighten1: lighten($color_success, 5%);
$color_success_lighten10: lighten($color_success, 50%);
$color_success_lighten2: lighten($color_success, 10%);
$color_success_lighten3: lighten($color_success, 15%);
$color_success_lighten4: lighten($color_success, 20%);
$color_success_lighten5: lighten($color_success, 25%);
$color_success_lighten6: lighten($color_success, 30%);
$color_success_lighten7: lighten($color_success, 35%);
$color_success_lighten8: lighten($color_success, 40%);
$color_success_lighten9: lighten($color_success, 45%);
$color_warning_darken1: darken($color_warning, 5%);
$color_warning_darken10: darken($color_warning, 50%);
$color_warning_darken2: darken($color_warning, 10%);
$color_warning_darken3: darken($color_warning, 15%);
$color_warning_darken4: darken($color_warning, 20%);
$color_warning_darken5: darken($color_warning, 25%);
$color_warning_darken6: darken($color_warning, 30%);
$color_warning_darken7: darken($color_warning, 35%);
$color_warning_darken8: darken($color_warning, 40%);
$color_warning_darken9: darken($color_warning, 45%);
$color_warning_lighten1: lighten($color_warning, 5%);
$color_warning_lighten10: lighten($color_warning, 50%);
$color_warning_lighten2: lighten($color_warning, 10%);
$color_warning_lighten3: lighten($color_warning, 15%);
$color_warning_lighten4: lighten($color_warning, 20%);
$color_warning_lighten5: lighten($color_warning, 25%);
$color_warning_lighten6: lighten($color_warning, 30%);
$color_warning_lighten7: lighten($color_warning, 35%);
$color_warning_lighten8: lighten($color_warning, 40%);
$color_warning_lighten9: lighten($color_warning, 45%);

:root {
	--color--text-light: #eee;
	--color--text-dark: #333;
	--color--text-disabled: #949494;
	--color--text-light-disabled: #949494;
	--color--text-dark-disabled: #808080;

	--color--primary-base: #{$color_primary};
	--color--secondary-base: #{$color_secondary};
	--color--info-base: #{$color_info};
	--color--success-base: #{$color_success};
	--color--warning-base: #{$color_warning};
	--color--error-base: #{$color_error};
	--color--accent-base: #{$color_accent};
	--color--accent-darken1: #{$color_accent_darken1};
	--color--accent-darken10: #{$color_accent_darken10};
	--color--accent-darken2: #{$color_accent_darken2};
	--color--accent-darken3: #{$color_accent_darken3};
	--color--accent-darken4: #{$color_accent_darken4};
	--color--accent-darken5: #{$color_accent_darken5};
	--color--accent-darken6: #{$color_accent_darken6};
	--color--accent-darken7: #{$color_accent_darken7};
	--color--accent-darken8: #{$color_accent_darken8};
	--color--accent-darken9: #{$color_accent_darken9};
	--color--accent-lighten1: #{$color_accent_lighten1};
	--color--accent-lighten10: #{$color_accent_lighten10};
	--color--accent-lighten2: #{$color_accent_lighten2};
	--color--accent-lighten3: #{$color_accent_lighten3};
	--color--accent-lighten4: #{$color_accent_lighten4};
	--color--accent-lighten5: #{$color_accent_lighten5};
	--color--accent-lighten6: #{$color_accent_lighten6};
	--color--accent-lighten7: #{$color_accent_lighten7};
	--color--accent-lighten8: #{$color_accent_lighten8};
	--color--accent-lighten9: #{$color_accent_lighten9};
	--color--error-darken1: #{$color_error_darken1};
	--color--error-darken10: #{$color_error_darken10};
	--color--error-darken2: #{$color_error_darken2};
	--color--error-darken3: #{$color_error_darken3};
	--color--error-darken4: #{$color_error_darken4};
	--color--error-darken5: #{$color_error_darken5};
	--color--error-darken6: #{$color_error_darken6};
	--color--error-darken7: #{$color_error_darken7};
	--color--error-darken8: #{$color_error_darken8};
	--color--error-darken9: #{$color_error_darken9};
	--color--error-lighten1: #{$color_error_lighten1};
	--color--error-lighten10: #{$color_error_lighten10};
	--color--error-lighten2: #{$color_error_lighten2};
	--color--error-lighten3: #{$color_error_lighten3};
	--color--error-lighten4: #{$color_error_lighten4};
	--color--error-lighten5: #{$color_error_lighten5};
	--color--error-lighten6: #{$color_error_lighten6};
	--color--error-lighten7: #{$color_error_lighten7};
	--color--error-lighten8: #{$color_error_lighten8};
	--color--error-lighten9: #{$color_error_lighten9};
	--color--info-darken1: #{$color_info_darken1};
	--color--info-darken10: #{$color_info_darken10};
	--color--info-darken2: #{$color_info_darken2};
	--color--info-darken3: #{$color_info_darken3};
	--color--info-darken4: #{$color_info_darken4};
	--color--info-darken5: #{$color_info_darken5};
	--color--info-darken6: #{$color_info_darken6};
	--color--info-darken7: #{$color_info_darken7};
	--color--info-darken8: #{$color_info_darken8};
	--color--info-darken9: #{$color_info_darken9};
	--color--info-lighten1: #{$color_info_lighten1};
	--color--info-lighten10: #{$color_info_lighten10};
	--color--info-lighten2: #{$color_info_lighten2};
	--color--info-lighten3: #{$color_info_lighten3};
	--color--info-lighten4: #{$color_info_lighten4};
	--color--info-lighten5: #{$color_info_lighten5};
	--color--info-lighten6: #{$color_info_lighten6};
	--color--info-lighten7: #{$color_info_lighten7};
	--color--info-lighten8: #{$color_info_lighten8};
	--color--info-lighten9: #{$color_info_lighten9};
	--color--primary-darken1: #{$color_primary_darken1};
	--color--primary-darken10: #{$color_primary_darken10};
	--color--primary-darken2: #{$color_primary_darken2};
	--color--primary-darken3: #{$color_primary_darken3};
	--color--primary-darken4: #{$color_primary_darken4};
	--color--primary-darken5: #{$color_primary_darken5};
	--color--primary-darken6: #{$color_primary_darken6};
	--color--primary-darken7: #{$color_primary_darken7};
	--color--primary-darken8: #{$color_primary_darken8};
	--color--primary-darken9: #{$color_primary_darken9};
	--color--primary-lighten1: #{$color_primary_lighten1};
	--color--primary-lighten10: #{$color_primary_lighten10};
	--color--primary-lighten2: #{$color_primary_lighten2};
	--color--primary-lighten3: #{$color_primary_lighten3};
	--color--primary-lighten4: #{$color_primary_lighten4};
	--color--primary-lighten5: #{$color_primary_lighten5};
	--color--primary-lighten6: #{$color_primary_lighten6};
	--color--primary-lighten7: #{$color_primary_lighten7};
	--color--primary-lighten8: #{$color_primary_lighten8};
	--color--primary-lighten9: #{$color_primary_lighten9};
	--color--secondary-darken1: #{$color_secondary_darken1};
	--color--secondary-darken10: #{$color_secondary_darken10};
	--color--secondary-darken2: #{$color_secondary_darken2};
	--color--secondary-darken3: #{$color_secondary_darken3};
	--color--secondary-darken4: #{$color_secondary_darken4};
	--color--secondary-darken5: #{$color_secondary_darken5};
	--color--secondary-darken6: #{$color_secondary_darken6};
	--color--secondary-darken7: #{$color_secondary_darken7};
	--color--secondary-darken8: #{$color_secondary_darken8};
	--color--secondary-darken9: #{$color_secondary_darken9};
	--color--secondary-lighten1: #{$color_secondary_lighten1};
	--color--secondary-lighten10: #{$color_secondary_lighten10};
	--color--secondary-lighten2: #{$color_secondary_lighten2};
	--color--secondary-lighten3: #{$color_secondary_lighten3};
	--color--secondary-lighten4: #{$color_secondary_lighten4};
	--color--secondary-lighten5: #{$color_secondary_lighten5};
	--color--secondary-lighten6: #{$color_secondary_lighten6};
	--color--secondary-lighten7: #{$color_secondary_lighten7};
	--color--secondary-lighten8: #{$color_secondary_lighten8};
	--color--secondary-lighten9: #{$color_secondary_lighten9};
	--color--success-darken1: #{$color_success_darken1};
	--color--success-darken10: #{$color_success_darken10};
	--color--success-darken2: #{$color_success_darken2};
	--color--success-darken3: #{$color_success_darken3};
	--color--success-darken4: #{$color_success_darken4};
	--color--success-darken5: #{$color_success_darken5};
	--color--success-darken6: #{$color_success_darken6};
	--color--success-darken7: #{$color_success_darken7};
	--color--success-darken8: #{$color_success_darken8};
	--color--success-darken9: #{$color_success_darken9};
	--color--success-lighten1: #{$color_success_lighten1};
	--color--success-lighten10: #{$color_success_lighten10};
	--color--success-lighten2: #{$color_success_lighten2};
	--color--success-lighten3: #{$color_success_lighten3};
	--color--success-lighten4: #{$color_success_lighten4};
	--color--success-lighten5: #{$color_success_lighten5};
	--color--success-lighten6: #{$color_success_lighten6};
	--color--success-lighten7: #{$color_success_lighten7};
	--color--success-lighten8: #{$color_success_lighten8};
	--color--success-lighten9: #{$color_success_lighten9};
	--color--warning-darken1: #{$color_warning_darken1};
	--color--warning-darken10: #{$color_warning_darken10};
	--color--warning-darken2: #{$color_warning_darken2};
	--color--warning-darken3: #{$color_warning_darken3};
	--color--warning-darken4: #{$color_warning_darken4};
	--color--warning-darken5: #{$color_warning_darken5};
	--color--warning-darken6: #{$color_warning_darken6};
	--color--warning-darken7: #{$color_warning_darken7};
	--color--warning-darken8: #{$color_warning_darken8};
	--color--warning-darken9: #{$color_warning_darken9};
	--color--warning-lighten1: #{$color_warning_lighten1};
	--color--warning-lighten10: #{$color_warning_lighten10};
	--color--warning-lighten2: #{$color_warning_lighten2};
	--color--warning-lighten3: #{$color_warning_lighten3};
	--color--warning-lighten4: #{$color_warning_lighten4};
	--color--warning-lighten5: #{$color_warning_lighten5};
	--color--warning-lighten6: #{$color_warning_lighten6};
	--color--warning-lighten7: #{$color_warning_lighten7};
	--color--warning-lighten8: #{$color_warning_lighten8};
	--color--warning-lighten9: #{$color_warning_lighten9};
}

[theme="light"] {
	--color--background: #eee;
	--color--text: var(--color--text-dark);
	--color--text-disabled: var(--color--text-dark-disabled);
}

[theme="dark"] {
	--color--background: #333;
	--color--text: var(--color--text-light);
	--color--text-disabled: var(--color--text-light-disabled);
}
