.dp__range_end, .dp__range_start, .dp__active_date {
    background: var(--color--primary-base) !important;
    color: var(--color--text-light) !important;
}
.dp__select {
    color: var(--color--primary-base) !important;
}
