<h2>Home Index</h2>

@HealthCheck.Core.Modules.Metrics.Context.HCMetricsUtil.CreateContextSummaryHtml()
<hr />

@Html.Raw(HealthCheck.Core.Modules.Metrics.Context.HCMetricsUtil.CreateContextSummaryHtml())
